<section class="row">
  <article class="column">
    <%= form_for @changeset, Routes.login_path(@conn, :login), fn f -> %>
    <label>
      Username: <%= text_input f, :username %>
    </label>

    <label>
      Password: <%= password_input f, :password %>
    </label>

    <%= submit "Login" %>
    <% end %>
  </article>
</section>