<section class="phx-hero">
  <p>Please login</p>

  <section class="row">
    <article class="column">
      <%= link("Login", to: Routes.login_path(@conn, :login)) %>
    </article>
  </section>
</section>
